.modal-header
  %h3.modal-title
    = t('.title_info_location')

.modal-body
  /%p#notice= notice

  %p
    %b 
      = t('.department')
    = @catalogs_location.department
  %p
    %b 
      = t('.responsible')
    = @catalogs_location.responsible
  %p
    %b 
      = t('.email')
    = @catalogs_location.email

.modal-footer
  = link_to t('edit'), edit_catalogs_location_path(@catalogs_location), remote: true, class: "btn btn-sm btn-tss"
  = link_to t('back'), catalogs_locations_path, class: "btn btn-sm btn-tss"
