%p#notice= notice

%p
  %b 
    = t('.department')
  = @catalogs_location.department
%p
  %b 
    = t('.responsible')
  = @catalogs_location.responsible
%p
  %b 
    = t('.email')
  = @catalogs_location.email

= link_to t('edit'), edit_catalogs_location_path(@catalogs_location)
\|
= link_to t('back'), catalogs_locations_path
