.container_general
  .title_configuration
    %h1 System::Configuration#configure
  .barra_busqueda
    = render partial: 'layouts/search',locals: { viewer: 'nil' }    
  .cuerpo_configuration
    = simple_form_for :configure, url: system_configuration_save_path, :enforce_utf8 => true do |f|    
      .row
        .col-xs-6.col-md-4
          - @mailers.each do |key, value|
            - if @traduccion.nil? == true or @traduccion.key?(key) == false
              = f.label "campo_etiqueta", key
              %br/
              = f.input_field @mailers.key(value).to_s, :value => @mailers.fetch(key)
              %br/                                   
            - elsif @traduccion.key?(key) == true

              = f.label "campo_etiqueta", @traduccion.fetch(key).values_at("name").to_s.delete('[]\\""')      
              = f.input_field @mailers.key(value).to_s, :value => @mailers.fetch(key)
              = f.hint @traduccion.fetch(key).values_at("hint").to_s.delete('[]\\""')
          %br/    
          = f.button :submit, class:"btn btn-ttc"

    / = form_tag({:controller => "system/configuration", :action => "save"}, :method => "get", :enforce_utf8 => true, class: "form-inline") do
    /   .form-group
    /     %p
    /     Nombre:
    /     %br/
    /     = text_field_tag("name", @mailers[:name_technical_secretary])
    /     %p
    /     Correo:
    /     %br/
    /     = text_field_tag("e_mail", @mailers[:e_mail_technical_secretary])
    /     %p
    /     = submit_tag "Submit", class:"btn btn-ttc"