.container-fluid
  = simple_form_for @system_contract, remote: true, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
       
    = f.error_notification
    = f.association :device, label: t('.device'), required: true
    = f.association :supplier, label: t('.supplier') ,label_method: :business_name, value_method: :id, requiered: true
    = f.label t('.start_date')
    = date_select "start_date", ""
    %br/
    = f.label t('.end_date')
    = date_select "end_date", ""
    = f.input :contract_no, requires: true
    = f.input :description, requires: true, as: :text    
    = f.label t('.start_date')
    = text_field_tag 'monto', @system_renewal.monto
    %br/
    = f.button :submit, t('save'), class: "btn btn-tss col-md-3 col-md-offset-3"