.container-fluid
  = simple_form_for @system_contract, remote: true, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
    
    /= f.error_notification
    = f.input :device_id, required: true
    = f.input :supplier_id, required: true
    = f.input :start_date, required: true
    = f.input :end_date, required: true    
    = f.input :contract_no, required: true    
    = f.button :submit, t('save'), class:"btn btn-tss col-md-3 col-md-offset-3"
