.modal-header
  %h3.modal-title
    = t('.title_info_contract')

.modal-body
  %p#notice= notice

  %p
    %b
      = t('.device')
    = @system_contract.device_id
  %p
    %b
      = t('.supplier')
    = @system_contract.supplier_id
  %p
    %b
      = t('.contract_no')
    = @system_contract.contract_no
  %p
    %b
      = t('.description')
    = @system_contract.description

.modal-footer
  = link_to t('edit'), edit_system_contract_path(@system_contract), remote: true, class: "btn btn-sm btn-tss"
  = link_to t('back'), system_contracts_path, class: "btn btn-sm btn-tss"
