%p#notice= notice

%p
  %b Device:
  = @system_contract.device_id
%p
  %b Supplier:
  = @system_contract.supplier_id
%p
  %b Start date:
  = @system_contract.start_date
%p
  %b End date:
  = @system_contract.end_date
%p
  %b Contract no:
  = @system_contract.contract_no

= link_to 'Edit', edit_system_contract_path(@system_contract)
\|
= link_to 'Back', system_contracts_path
