.modal-header
  %h3.modal-title
    = t('.title_info_device')

.modal-body    
  /%p#notice= notice

  %p
    %b 
      = t('.name')
    = @catalogs_device.name
  %p
    %b 
      = t('.unam_stock_number')
    = @catalogs_device.unam_stock_number
  %p
    %b 
      = t('.location_id')
    = @catalogs_device.location.department

.modal-footer
  = link_to t('edit'), edit_catalogs_device_path(@catalogs_device), class: "btn btn-sm btn-tss", remote: true
  \|
  = link_to t('back'), catalogs_devices_path, class: "btn btn-sm btn-tss"
