.title_devices
  %h1
    = t('.title_device')
.barra_busqueda
  = render partial: 'layouts/search',locals: { viewer: 'devices' }
.cuerpo_devices
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
            = t('.name')
          %th 
            = t('.unam_stock_number')
          %th 
            = t('.location_id')
          %th
          %th
          %th
      %tbody
        - @catalogs_devices.each do |catalogs_device|
          %tr
            %td= catalogs_device.name
            %td= catalogs_device.unam_stock_number
            %td= catalogs_device.location_id
            %td
              = link_to '', catalogs_device, class:"btn btn-tss fa fa-eye", title: "Ver"
            %td
              = link_to '', edit_catalogs_device_path(catalogs_device), class:"btn btn-tss fa fa-pencil-square-o", title:"Editar"
            %td
              = link_to '', catalogs_device, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-tss fa fa-trash-o", title: "Eliminar"
.paginacion
  .apple_pagination 
    = will_paginate @catalogs_devices, :container => false
  %br
  = link_to t('.add_device'), new_catalogs_device_path, class:"btn btn-tss"

