= form_for @catalogs_supplier, remote: true do |f|
  - if @catalogs_supplier.errors.any?
    #error_explanation
      %h2= "#{pluralize(@catalogs_supplier.errors.count, "error")} prohibited this catalogs_supplier from being saved:"
      %ul
        - @catalogs_supplier.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :business_name, t('business')
    = f.text_field :business_name
  .field
    = f.label :contact, t('contact')
    = f.text_field :contact
  .field
    = f.label :phone, t('phone')
    = f.text_field :phone
  .field
    = f.label :email, t('email')
    = f.text_field :email
  .actions
    = f.submit t('save')
