.title_supplier
  %h1#supplier
    = t('title_cat_suppliers')
.barra_busqueda    
  = render partial: 'layouts/search',locals: { viewer: 'suppliers' }
.cuerpo_suppliers
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
            = t('business')
          %th
            = t('contact')
          %th
            = t('phone')
          %th
            = t('email')
          %th
          %th
          %th
      %tbody
        - @catalogs_suppliers.each do |catalogs_supplier|
          %tr
            %td= catalogs_supplier.business_name
            %td= catalogs_supplier.contact
            %td= catalogs_supplier.phone
            %td= catalogs_supplier.email
            %td
              = link_to '', catalogs_supplier, class:"btn btn-tss fa fa-eye", remote: true
            %td
              = link_to '', edit_catalogs_supplier_path(catalogs_supplier), class: "btn btn-tss fa fa-pencil-square-o", remote: true
            %td
              = link_to '', catalogs_supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-tss fa fa-trash-o"
.paginacion  
  .apple_pagination
    = will_paginate @catalogs_suppliers, :container => false
  %br
  = link_to t('add_supplier'), new_catalogs_supplier_path, class:"btn btn-tss", remote: true
#supplier-modal.modal.fade
  .modal-dialog
    #inner-supplier-modal.modal-content
