.modal-header
  %h3.modal-title
    = t('.title_info_renewal')

.modal-body
  /%p#notice= notice
  .row
    .col-xs-6.col-md-4
      %p
        %b= t('.contract_no')
    .col-xs-12.col-md-8
      %p    
        = @system_renewal.contract.contract_no 
    .col-xs-6.col-md-4
      %p
        %b= t('.start_date')
    .col-xs-12.col-md-8
      %p    
        = @system_renewal.start_date
    .col-xs-6.col-md-4  
      %p
        %b= t('.end_date')
    .col-xs-12.col-md-8
      %p    
        = @system_renewal.end_date
    .col-xs-6.col-md-4  
      %p
        %b= t('.monto')        
    .col-xs-12.col-md-8
      %p    
        = number_to_currency(@system_renewal.monto)


.modal-footer
  / = link_to t('.add_siteview'), new_system_siteview_path, class:"btn btn-tss", remote: true
  = link_to t('edit'), edit_system_renewal_path(@system_renewal), class: "btn btn-sm btn-tss", remote: true
  = link_to t('back'), system_contracts_path, class: "btn btn-sm btn-tss"

