%p#notice= notice

%p
  %b Contract:
  = @system_renewal.contract_id
%p
  %b Start date:
  = @system_renewal.start_date
%p
  %b End date:
  = @system_renewal.end_date

= link_to 'Edit', edit_system_renewal_path(@system_renewal)
\|
= link_to 'Back', system_renewals_path
