.modal-header
  %h3.modal-title
    = t('.title_new_contract')
.modal-body
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th= t('.device')
          %th= t('.supplier')          
          %th= t('.contract')
          %th= t('.monto')
          %th= t('.start_date')
          %th= t('.end_date')
      #table
        - @system_renewals.each do |system_renewal|
          %tr
          %td{title: system_renewal.contract.device.name}= system_renewal.contract.device.short_name
          %td{title: system_renewal.contract.supplier.business_name}= system_renewal.contract.supplier.short_name
          /%td{title: system_renewal.contract.contract_no}= system_renewal.contract.short_name
          %td= link_to system_renewal.contract.contract_no, "/files/#{system_renewal.id}.pdf", :target => "_blank"
          %td= number_to_currency(system_renewal.monto)
          %td= system_renewal.start_date
          %td= system_renewal.end_date 
.modal-footer
  = link_to t('.pdf'), "index.pdf", class: "btn btn-sm btn-tss", target: "_blank"
  = link_to t('.xlsx'), "index.xlsx", class: "btn btn-sm btn-tss", target: "_blank"