.container_general
  .title_file
    %h2 Subir archivo
  .barra_busqueda
    = render partial: 'layouts/search',locals: { viewer: 'nil' } 
  .cuerpo_file   
    = form_tag({:controller => "files", :action => "load_files"}, :method => "post", :multipart => true) do
      = file_field_tag "file", :required => "required"
      = submit_tag "Upload File"
    - if @formato_erroneo
      %div
        %p El formato ingresado es incorrecto. Usted sólo puede subir archivos .pdf, .doc y .docx
    %p
      = link_to "Volver a la lista de archivos", :controller => "files", :action => "load_files"
