%nav.navbar.navbar-default
  .container-fluid
    .nav-header
      %a.navbar-brand{:href => "#"} 
        INB
        %i.fa.fa-home.fa-fw
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar      
       
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %form.navbar-form.navbar-left        
        %i.fa.fa-search.fa-fw
        = form_tag({:controller => viewer, :action => "index"}, :method => "get", class: "form-inline") do
          .form-group
            = label_tag "código", "Search:"
            = text_field_tag "codigo", "", :size => 30, :maxlenght => 50, :placeholder => "value"        
            = submit_tag "Search", class:"btn btn-tss"
            = submit_tag "Show All", class:"btn btn-tss"
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Menú
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
    
