= form_tag({:controller => viewer, :action => "index"}, :method => "get") do
  = label_tag "código", "Search:"
  = text_field_tag "codigo", "", :size => 5, :maxlenght => 5, :placeholder => "value"
  %br/
  = submit_tag "Search"
= form_tag({:controller => viewer, :action => "index"}, :method => "get") do
  = submit_tag "Show All"                                                                                                                                                                              
