# encoding: UTF-8
!!!
%html
  %head
    %title
      = t('.title_system')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    .wrap
      #header
      .backcontainer
        .container          
          = yield
    %footer.text-center
      .containerfooter
        = t('.title_footer')
